.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__like_button {
  background-image: url(../images/like_icon.png);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like_button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .card__image {
    height: 288px;
  }
}

.card__title {
  margin: 0 0;
}
